In [1]:
import pandas as pd

In [2]:
d_150= pd.read_csv('/home/mendo/Downloads/LM/LM-5/LM-TTS-Main/data_warehouse/Bafia_all/Bafia_150/sentences_150.csv')

In [3]:
# Bafia
d_150.head()

           {"wa yɛmbè?"  Unnamed: 1
0                ntɔ́ksi         NaN
1         biri lá fɔ́ɔ́         NaN
2            cə ki nyɔ́n         NaN
3        nri dii lɛ paul         NaN
4  nri mwáá  á bɛ́lin         NaN

In [4]:
d_150.shape

(149, 2)

In [5]:
# Ewondo

d_150_EW= pd.read_csv('/home/mendo/Downloads/LM/LM-5/LM-TTS-Main/data_warehouse/Ewondo_all/ewo_Ewondo_150/cm_ewo.csv')

In [6]:
d_150_EW.head()

   1           mbəmbə kídí
0  2                   masug
1  3          ndɔ miná yá?
2  4  dzé é nə́ mkpámɛ́n?
3  5  mə nə dzoé nâ paulus
4  6      masɔ́ á ndzámɛ́n

In [7]:
d_150_EW.shape

(149, 2)

In [10]:
d_150_EW.columns

Index(['1', 'mbəmbə kídí'], dtype='object')

'"'